/*Modo claro*/
:root{
    --color-principal: #4A4E69;
    --color-secundario: #9A8C98;
    --color-terciario: #C9ADA7;
    --color-fondo: #F2E9E4;
    --color-oscuro: #22223B;
    --color-texto-navegador: #ffff;
    --color-texto-contenido: rgb(29, 29, 29);
    --fuente-principal: 'Inter', sans-serif;
    --tamanio-titulo: 2.5rem;
    --tamanio-subtitulo: 1.5rem;
    --tamanio-texto: 1rem;
}
/*Modo oscuro*/

.modo-oscuro{
    --color-principal: #181829;
    --color-secundario: #C9ADA7;
    --color-terciario: #22223B;
    --color-fondo: #4A4E69;
    --color-oscuro: #9A8C98;
    --color-texto-navegador: #F2E9E4;
    --color-texto-contenido: #ffff;
} 
