<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melani | Galería</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="../static/js/app.js"></script>
  <script src="../static/js/main.js"></script>

  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!--tipografia-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  
</head>
<body>
  <header>
    <H1>PORTAFOLIO</H1>
    <button id="toggle-tema" aria-label="Cambiar tema">💡</button>
    <input type="checkbox" id="toggle-menu" hidden>
    <label for="toggle-menu" class="desplegable">☰</label>

    <nav class="menu">
      <a href="/index.html"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a>
      <a href="sobremi.html"><i class="fa-sharp fa-solid fa-user"></i> Sobre mí</a>
      <a href="galeria.html"><i class="fa-sharp fa-solid fa-image"></i> Galeria</a>
      <a href="proyectos.html"><i class="fa-solid fa-folder"></i> Proyectos</a>
      <a href="miswebs.html"><i class="fa-solid fa-globe"></i> Mis Webs</a>
      <a href="contactame.html"><i class="fa-solid fa-envelope"></i> Contacto</a>
    </nav>
  </header>

  <main>
    <section class="galeria">
      <div class="galeria-contenido animacion">
        <!-- Tarjeta 1 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/navidad.jpg" alt="navidad">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Una nevada salada.</p>
              <p><strong>Técnica:</strong> Tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 27.5 x 21 cm</p>
              <p><strong>Año:</strong> 2022.</p>
            </div>
          </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/barco.jpg" alt="barco de papel">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Un viaje turbulento.</p>
              <p><strong>Técnica:</strong> Puntillismo, trama con estilografo y humedo sobre humedo con tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 3 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/jack.jpg" alt="jack squeleton">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Jack Skellington.</p>
              <p><strong>Técnica:</strong> Carboncillo sobre caretulina de 180gm.</p>
              <p><strong>Medidas:</strong> 22 x 15 cm.</p>
              <p><strong>Año:</strong> 2024.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 4 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/manos.jpg" alt="manos encadenadas">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Esperanza de libertad.</p>
              <p><strong>Técnica:</strong> Estilografo sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 5 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/bruja.jpg" alt="bruja">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Ruptura.</p>
              <p><strong>Técnica:</strong> Estilografo y tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 22 x 15 cm.</p>
              <p><strong>Año:</strong> 2022.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 6 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/chica.jpg" alt="chica">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Desconección.</p>
              <p><strong>Técnica:</strong> Estilografo sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2024.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 7 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/muercielago.jpg" alt="murcielago">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Murcielago de la fruta.</p>
              <p><strong>Técnica:</strong> Estilografo y tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 16.5 x 17.5 cm.</p>
              <p><strong>Año:</strong> 2022.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 8 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/novia.jpg" alt="novia">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> La novia.</p>
              <p><strong>Técnica:</strong> Estilografo y tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 27.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2022.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 9 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/paisaje.jpg" alt="paisaje">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Sendero a lo desconocido.</p>
              <p><strong>Técnica:</strong> Tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 21 x 14.5 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 10 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/pavo real.jpg" alt="pavo real">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Realeza en tramas.</p>
              <p><strong>Técnica:</strong> Tramas con estilografo y detalles en tinta china.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 11 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/payaso.jpg" alt="payacito">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Sorpresa de alegria.</p>
              <p><strong>Técnica:</strong> Trama en estilografo sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 12 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/rosa.jpg" alt="rosa eterna">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Rosa eterna.</p>
              <p><strong>Técnica:</strong> Tinta china con detalles en estilografo sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 13 -->
         <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/sandia.jpg" alt="sandia">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Sandias</p>
              <p><strong>Técnica:</strong> Humedo sobre seco en acuarelas sobre cartulina de 224gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2021.</p>
            </div>
          </div>
        </div>
        <!-- Tarjeta 14 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="../static/img/tumi.jpg" alt="tumi">
            </div>
            <div class="card-back">
              <p><strong>Título:</strong> Peruanidad.</p>
              <p><strong>Técnica:</strong> Tinta china sobre cartulina de 180gm.</p>
              <p><strong>Medidas:</strong> 14.5 x 21 cm.</p>
              <p><strong>Año:</strong> 2023.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
        <div class="redes-sociales">
          <a href="mailto:melani.rousse11282001@gmail.com" aria-label="Correo electrónico"><i class="fas fa-envelope"></i></a>
          <a href="https://www.instagram.com/melani_rousse/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/melani-salvador-b9a69729a/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="copy">&copy; 2025 Melani Salvador. Todos los derechos reservados.</p>
  </footer>

</body>
</html>