<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melani | Mis Webs</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="../static/js/app.js"></script>
  <script src="../static/js/main.js"></script>

  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!--tipografia-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>PORTAFOLIO</h1>
    <button id="toggle-tema" aria-label="Cambiar tema">💡</button>
    <input type="checkbox" id="toggle-menu" hidden>
    <label for="toggle-menu" class="desplegable">☰</label>
    
    <nav class="menu">
      <a href="/index.html"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a>
      <a href="sobremi.html"><i class="fa-sharp fa-solid fa-user"></i> Sobre mí</a>
      <a href="galeria.html"><i class="fa-sharp fa-solid fa-image"></i> Galeria</a>
      <a href="proyectos.html"><i class="fa-solid fa-folder"></i> Proyectos</a>
      <a href="miswebs.html"><i class="fa-solid fa-globe"></i> Mis Webs</a>
    </nav>
  </header>

  <main>
    <section class="zona-pruebas">
        <div class="web-hover">
        <h3>EcoVida</h3>
        <div class="img-hover-triple">
            <img src="../static/img/web ecoviva.PNG" alt="Vista 1" class="img-1">
            <img src="../static/img/ecoviva2.PNG" alt="Vista 2" class="img-2">
            <img src="../static/img/ecoviva3.PNG" alt="Vista 3" class="img-3">
        </div>
        <a href="https://melani-28.github.io/Parcial-II/index.html" target="_blank" class="btn-visitar">Visitar sitio</a>
        </div>

        <div class="web-hover">
        <h3>Fanpage</h3>
        <div class="img-hover-triple">
            <img src="../static/img/mago de oz 1.PNG" alt="Vista 1" class="img-1">
            <img src="../static/img/mago de oz 2.PNG" alt="Vista 2" class="img-2">
            <img src="../static/img/mago de oz 3.PNG" alt="Vista 3" class="img-3">
        </div>
        <a href="https://melani-28.github.io/Parcial-II/index.html" target="_blank" class="btn-visitar">Visitar sitio</a>
        </div>

    </section>

  </main>

  <footer>
    <div class="redes-sociales">
      <a href="mailto:melani.rousse11282001@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://www.instagram.com/melani_rousse/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/melani-salvador-b9a69729a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <p class="copy">&copy; 2025 Melani Salvador. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
