<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melani | Sobre mi</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="../static/js/main.js"></script>

  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!--tipografia-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <H1>PORTAFOLIO</H1>
    <button id="toggle-tema" aria-label="Cambiar tema">💡</button>
    <input type="checkbox" id="toggle-menu" hidden>
    <label for="toggle-menu" class="desplegable">☰</label>

    <nav class="menu">
      <a href="/index.html"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a>
      <a href="sobremi.html"><i class="fa-sharp fa-solid fa-user"></i> Sobre mí</a>
      <a href="galeria.html"><i class="fa-sharp fa-solid fa-image"></i> Galeria</a>
      <a href="proyectos.html"><i class="fa-solid fa-folder"></i> Proyectos</a>
      <a href="miswebs.html"><i class="fa-solid fa-globe"></i> Mis Webs</a>
    </nav>
  </header>

  <main>
    <section class="yo">
      <div class="yo-contenido">
        <div class="yo-texto">
          <h2>Melani Rousse Salvador Campos</h2>
          <p>¡Hola! Soy una diseñadora gráfica e ilustradora. <i class="fa-solid fa-pencil"></i></p>
          <p>Desde que tengo memoria, el arte ha sido mi forma de ver y entender el mundo. Soy una persona creativa, imaginativa y profundamente detallista; cada proyecto que toco lleva un pedacito de mí, porque no sé trabajar sin ponerle alma a lo que hago.</p>
          <p>Me apasiona crear con intención y emoción. Ya sea una ilustración digital, un trazo en tinta china o el desarrollo de una identidad visual completa, siempre doy lo mejor de mí. Si empiezo algo, lo termino, y lo termino bien: creo que cuando uno decide hacer algo, debe hacerlo con compromiso, pasión y dedicación.</p>
          <p><strong>Mi enfoque está en el branding:</strong> me encanta acompañar a las marcas desde el primer boceto hasta ver sus ideas materializadas en piezas finales. Por eso también disfruto mucho del diseño de packaging, desde la creación gráfica hasta su fabricación.</p>
          <p>Soy perseverante, sensible y soñadora, pero también organizada y comprometida. Si algo me mueve, no paro hasta lograrlo.</p>
          <p>Este portafolio es una muestra de lo que soy: <em>alguien que diseña desde el corazón. <i class="fa-solid fa-heart"></i></em></p>
        </div>

        <div class="yo-imagen animacion">
          <img src="../static/img/animacion.gif" alt="Animación" width="400">
        </div>
      </div>
    </section>

    <!-- Sección de programas -->
    <section class="skills">
      <h2>Programas que manejo</h2>
      <div class="skills-grid">
        <div class="skill-item">
          <img src="../static/img/krita.png" alt="Krita">
          <p>Krita</p>
          <div class="barra">
            <div class="progreso" style="--porcentaje: 50%;"></div>
          </div>
        </div>
        <div class="skill-item">
          <img src="../static/img/canva.png" alt="canva">
          <p>Canva</p>
          <div class="barra">
            <div class="progreso" style="--porcentaje: 80%;"></div>
          </div>
        </div>
        <div class="skill-item">
          <img src="../static/img/illustrator.png" alt="Illustrator">
          <p>Illustrator</p>
          <div class="barra">
            <div class="progreso" style="--porcentaje: 80%;"></div>
          </div>
        </div>
        <div class="skill-item">
          <img src="../static/img/photoshop-copia.PNG" alt="Photoshop">
          <p>Photoshop</p>
          <div class="barra">
            <div class="progreso" style="--porcentaje: 50%;"></div>
          </div>
        </div>
        <div class="skill-item">
          <img src="../static/img/after effects.png" alt="After Effects">
          <p>After Effects</p>
          <div class="barra">
            <div class="progreso" style="--porcentaje: 30%;"></div>
          </div>
        </div>
        <div class="skill-item">
          <img src="../static/img/premiere pro.png" alt="Premiere Pro">
          <p>Premiere Pro</p>
          <div class="barra">
            <div class="progreso" style="--porcentaje: 30%;"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Habilidades -->
     <section class="habilidades-idiomas">
      <div class="bloque">
        <h2>Habilidades</h2>
        <ul>
          <li>Arte Digital</li>
          <li>Arte Tradicional</li>
          <li>Diseño Gráfico</li>
          <li>Diseño Editorial</li>
        </ul>
      </div>

      <div class="bloque">
        <h2>Idiomas </h2>
          <ul>
          <li><strong>Español:</strong> Nativo</li>
          <li><strong>Inglés:</strong> Básico</li>
        </ul>
      </div>
    </section>
      <!-- Estudios -->
    <section class="yo-estudios">
      <h2>Estudios <i class="fa-solid fa-school"></i></h2>
      <p>Estudiante de VIII ciclo de la carrera de Arte y Diseño Gráfico Empresarial en la Universidad César Vallejo</p>
      <iframe src="https://www.google.com/maps/embed?pb=..." width="600" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>

      <h2>Locación <i class="fa-solid fa-location-dot"></i></h2>
      <p>Lima - Perú, Distrito de Independencia</p>
    </section>

        
  </main>
   <footer>
        <div class="redes-sociales">
          <a href="mailto:melani.rousse11282001@gmail.com" aria-label="Correo electrónico"><i class="fas fa-envelope"></i></a>
          <a href="https://www.instagram.com/melani_rousse/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/melani-salvador-b9a69729a/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="copy">&copy; 2025 Melani Salvador. Todos los derechos reservados.</p>
    </footer>

</body>
</html>